<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<script>
    function load(var1) {
        console.log(var1)
        const v = var1.split(",")
        v.forEach((item) => {
            // const arr = item.split("/");
            // console.log(item.split("/"))
            let a = document.createElement("a");
            a.setAttribute("href", item);
            a.text = item

            let td = document.createElement("td")
            td.setAttribute("class", "Regular");
            td.appendChild(a)

            let tr = document.createElement("tr");
            tr.appendChild(td)

            document.getElementById("content").appendChild(tr)
        })

    }

</script>

