<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<script>
    function load(var1) {
        console.log(var1)
        const v = var1.split(",")
        v.forEach((item) => {
            const file_name = item.split(".")[0];
            let path_name = "";
            const item_arr = item.split("/");
            for (index in item_arr) {
                const i = parseInt(index) + 2;
                if (item_arr[i] && item_arr[i].indexOf(".md") > 0) {
                    if (path_name) {
                        path_name += " - ";
                    }
                    path_name += item_arr[i].split(".")[0];
                } else if (item_arr[i]) {
                    if (path_name) {
                        path_name += " - ";
                    }
                    path_name += item_arr[i];
                } else {
                    break;
                }
            }
            let a = document.createElement("a");
            a.setAttribute("href", file_name + '.html');
            a.text = path_name

            let td = document.createElement("td")
            td.setAttribute("class", "Regular");
            td.appendChild(a)

            let tr = document.createElement("tr");
            tr.appendChild(td)

            document.getElementById("content").appendChild(tr)
        })

    }

</script>